/* do not change */
:root {
  --milledoni-black: #212121;
  --milledoni-grey: #898a8d;
  --milledoni-light-grey: #f6f5f5;
  --milledoni-white: #ffffff;
  --milledoni-light-yellow: #f9f2d4;
  --milledoni-yellow: #e2b100;
  --milledoni-purple: #aa2677;
  --milledoni-blue: #466ebf;
  --milledoni-red: #b2291f;
  --milledoni-green: #20a687;
}

body {
  margin: 0;
}

.milledoni-margin {
  margin-inline: 2em;
}

/* header styling */

.milledoni-header {
  display: flex;
  justify-content: space-between;
}

.milledoni-header-logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.milledoni-header-link-button {
  padding: 5px 10px;
  border: 1px solid #cbcbcb;
  border-radius: 2em;
  text-decoration: none;
  color: var(--milledoni-black);
  box-shadow: 0px 0px 10px var(--milledoni-light-grey);
  transition: 0.5s ease-out;
}
.milledoni-header-link-button:visited {
  color: var(--milledoni-black);
}
.milledoni-header-link-button:hover {
  box-shadow: 0px 0px 10px var(--milledoni-grey);
}

/* main styling */
.milledoni-main {
  display: flex;
}

.milledoni-main-chat {
  align-self: flex-end;
}

.milledoni-main-product {
  background-color: var(--milledoni-light-grey);
  padding-inline: 1em;
  border-top: 6px solid var(--milledoni-yellow);
}

.milledoni-main-product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
